body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, red , yellow);    
}

a {
  color: black;
  border-radius: 10px;
  border: 1px solid;
  padding: 0.5rem;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  border-radius: 10px;
  border: 1px solid;
  padding: 0.5rem;  
}