<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Face Book</h1>
    <a href="/users"><button>Details</button></a>
  </body>
</html>
