<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>FaceBook</h1>
    <div>
      <a href="/users">Details</a>
    </div>
  </body>
</html>
