<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  

    <main style="text-align: center">
      <p
        style="
          text-align: center;
          color: green;
          font-size: 2rem;
          font-style: italic;
          margin: 2rem auto;
        "
      >
        Welcome to Ecart!
      </p>
      <a href="/products"
        ><button style="font-size: 1.2rem" class="btn btn-primary">
          Go To Products
        </button></a
      >
    </main>
  </body>
</html>
