<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <h2>Shopping Cart App</h2>
    <div class="home">
      <a href="/users"><button>Welcome To Your Shopping Cart</button></a>
    </div>
  </body>
</html>
