<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <div class="center">
        <div>
          <header>
            <h1>Shopping Cart</h1>
          </header>
        </div>

        <div>
          <a href="/users/register"><button>register</button></a>
          <a href="/users/login"><button>login</button></a>
        </div>
      </div>

      <!-- <div class="sec">
        <div class="content ">
          <div>
            <img src="images/Shopping.webp" alt="1" />
            <h3>Girls</h3>
            <img src="images/mens-collection-a-1.jpg" alt="1" />
            <h3>Boys</h3>
            <img src="images/kids.jpg" alt="1" />
            <h3>Kids</h3>
          </div>
        </div>

        <div class="content ">
          <div>
            <img src="images/footwere_182dfd26_1625063018781_sc_cmprsd_40.jpg" alt="1" />
            <h3>Footwere</h3>
            <img src="images/mobile.webp" alt="1" />
            <h3>Mobile</h3>
            <img src="images/electronic-gadgets.jpeg" alt="1" />
            <h3>Eletronics</h3>
          </div>
        </div>
        <div class="content ">
          <div>
            <img src="images/furniture.jpg" alt="1" />
            <h3>Furniture</h3>
            <img src="images/sunglass.jpeg" alt="1" />
            <h3>SunGlasses</h3>
            <img src="images/grocery.jpeg" alt="1" />
            <h3>Grocery</h3>
          </div>
        </div>
      </div>
      </div>
        -->
    </main>
  </body>
</html>
